#body {

    -fx-background-color: #14122A;

}

#headerText{

    -fx-text-fill: white;
    -fx-font-size: 2em;
    -fx-font-family: "Arial Rounded MT Bold";

}

#signinTextButton {

    -fx-text-fill: white;
    -fx-font-family: "Arial Black";
    -fx-border-color: #A8A892;
    -fx-border-width: 2px;
    /*-fx-border-radius: 5px;*/
    -fx-padding: 10px;

}

#registerButton {

    -fx-text-fill: white;
    -fx-font-family: "Arial Black";
    -fx-background-color: #A8A892;
    -fx-padding: 10px;
    -fx-border-color: #A8A892;
    -fx-border-width: 2px;

}

#loginButton {

    -fx-text-fill: white;
    -fx-font-family: "Arial Black";
    -fx-background-color: #A8A892;
    -fx-padding: 10px;
    -fx-border-color: #A8A892;
    -fx-border-width: 2px;

}

#usernameField {

    -fx-border-color: #A8A892;
    -fx-padding: 10px;
    -fx-text-fill: white;


}

#passwordField {

    -fx-border-color: #A8A892;
    -fx-padding: 10px;
    -fx-text-fill: white;


}

#reEnterPasswordField {

    -fx-border-color: #A8A892;
    -fx-padding: 10px;
    -fx-text-fill: white;

}

#tokenField{

    -fx-border-color: #A8A892;
    -fx-padding: 10px;
    -fx-text-fill: white;

}

#footerLabel {

    -fx-text-fill: white;
    -fx-font-family: Arial;
    -fx-padding: 10px;


}


