#body {

    -fx-background-color: #14122A;

}

#headerLabel {

    -fx-font-size: 2em;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: Nunito-VariableFont_wght;

}

#adminButton {

    -fx-text-fill: white;

}

#adminButton:focused {

    -fx-border-color: transparent;

}

#adminButton:hover {

    -fx-background-color: #0b0715;


}

#clientButton {

    -fx-text-fill: white;


}

#clientButton:focused {


    -fx-border-color: transparent;

}

#clientButton:hover {

    -fx-background-color: #0b0715;

}